jwt:
  signerKey: "UfDISbD7S+7ZKexMy82qISu0BlUuf9l/Oq201VoK5eoN5nKC6UXhc4hRHCyZ/Mu/"

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9094}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0 # 100% for development
  otlp:
    tracing:
      endpoint: http://tempo:4317

